<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="espaco-nome-menu">Endereços APP</span>
        <span class="example-spacer"></span>
        <a class="cursorMao" (click)="encerrarSessao()">
            Sair
            <mat-icon aria-hidden="false" aria-label="Example user verified icon">exit_to_app</mat-icon>
        </a>

    </mat-toolbar>
</p>